mixin footer(data)
    footer.page-footer
      .page-footer__container
        .page-footer__row
          .page-footer__col.page-footer__col--left
            .f-block
              h4.f-block__heading Офис &laquo;Ростелеком&raquo;:
              p.f-block__text г. Санкт-Петербург, Синопская набережная, 14
          .page-footer__col.page-footer__col--right
            .f-block
              h4.f-block__heading Техническая поддержка
              p.f-block__text
                a(href="tel: 88001000800") 8 (800) 100-08-00
        p.page-footer__copy &copy; 2017. Cайт не является средством массовой информации и действует на основании партнерского договора с ПАО &laquo;Ростелеком&raquo;.
