mixin hero(data)
  section.hero
      .hero__text
          h2 Акция интернет навсегда
          h3 Интернет по цене пышки!
          p
              span Цена от <strong>12 руб/день</strong> <br>
              span Скорость от <strong> 100 Мбит/c </strong>
      img.hero__banner(src="%=static=%img/content/banner.jpg", width="1140", height="227", alt="Акция Интернет-навсегда")